{% extends 'layout.html.twig' %}

{% block content %}
    <h2>Le formulaire Edit de film</h2>
    {{ form_start(formEdit) }}
    {{ form_errors(formEdit) }}
    <div>
        {{ form_label(formEdit.rating) }}
        {{ form_errors(formEdit.rating) }}
        {{ form_widget(formEdit.rating) }}
    </div>
    {{ form_end(formEdit) }}
{% endblock %}
