{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ movie.titleSaga }}</h1>
    <p>{{ movie.cover }}</p>
    <p>{{ movie.rating }}</p>
    <img src="{{ path('image_view' , {'id': movie.id}) }}" />
    <br/>
    {% if movie.descriptionSheet is not null %}
        <p>{{ movie.descriptionSheet.title }}</p>
        <p>{{ movie.descriptionSheet.releaseAt|date('d/m/Y') }}</p>
        <p>{{ movie.descriptionSheet.language }}</p>
        <p>{{ movie.descriptionSheet.duration|date('H:i:s') }}</p>
        <p>{{ movie.descriptionSheet.description }}</p>
    {% endif %}
{% endblock %}
