
{% extends 'layout.html.twig' %}

{% block content %}
    {% for movie in movies %}
        <p>{{ movie.id }}</p>
        <h1>{{ movie.titleSaga }}</h1>
        <p>{{ movie.cover }}</p>
        <p>{{ movie.rating }}</p>
        <img src="{{ path('image_view' , {'id': movie.id}) }}" width="25%" height="300"/>
        <br/>
        {% if movie.linkMovie is not null %}
        <video width="400" height="222" controls="controls">
            <source src="{{ path( 'video_view' , {'id': movie.id}) }}" type="video/mp4" />
        </video>
        {% endif %}
        {% if movie.descriptionSheet is not null %}
            <p>{{ movie.descriptionSheet.title }}</p>
            <p>{{ movie.descriptionSheet.releaseAt|date('d/m/Y') }}</p>
            <p>{{ movie.descriptionSheet.language }}</p>
            <p>{{ movie.descriptionSheet.duration|date('H:i:s') }}</p>
            <p>{{ movie.descriptionSheet.description }}</p>
        {% endif %}

        {% for genre in movie.genres %}
        <p>{{ genre.label }}</p>
        {% endfor %}
    {% endfor %}

{% endblock %}
